h1,p,h3,p.home-link a
{
    color:#000;
}
.activateaccount
{
    width:50%;
}
form{
    padding: 30px 35px;
}
.activateaccount h1{
    margin: 0;
    font-size: 30px;
}
.activateaccount h3
{
    margin: 0;
    font-size: 20px;
}

