
 <div class="page-layout simple fullwidth" fxLayout="column"> <!-- fusePerfectScrollbar -->
    
  <div class="banner-content" fxLayout="column" fxLayoutAlign="center center" 
  fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">

<div class="activateaccount">
    <mat-horizontal-stepper >
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" >
<h1>{{this.lblMessage}}</h1>

<!-- <p class="home-link"><a [routerLink]="['/home']">home</a></p> -->
<!-- <div>
    
  </div> -->
<div class="margn-top10">
<mat-label class="account-activation"> please 
  <a [routerLink]="['/login']" class="active-link">login</a>  
  or go back to <a [routerLink]="['/home']" class="active-link">homepage</a></mat-label>
</div>
</form>
</mat-step>
</mat-horizontal-stepper>
</div>
  </div>
  </div>
  
  