<div class="page-layout simple fullwidth bgstring" fxLayout="column"> <!-- fusePerfectScrollbar -->
    
  <div class="banner-content" fxLayout="column" fxLayoutAlign="center center" 
  fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
  <div class="contactus">
<h1>contact us </h1>
<p>need online trading network wll  (cr no: 131813) office no.18, <br>
  concord business centre al rufa tower, p.o box 40848<br>
  doha- qatar </p>
  <p><span class="emailText">email:</span><span class="emailLink"> <a href="mailto:support@need.qa" class="contact-link" target="_blank">support@need.qa</a></span></p>
  <p><span class="emailText">whatsapp:</span> <span class="emailLink">  <a href="tel:97466883800" class="contact-link" target="_blank">+974 66 88 38 00 </a></span></p>

</div>
</div>
</div>