.content-main   {   width:70%; margin:0px auto; display:inline-block!important;
    padding:40px 20px 0px 20px; box-sizing: border-box; -webkit-box-sizing: border-box;
    overflow:hidden;

    h1  {   width:100%; color:#fff; font-size:34px; text-align:center;
        font-family: 'coheadlinew08-lightregular', sans-serif;}
}

.content-lft        {   width:50%; float: left; text-align:right;
    mat-form-field  {   width:100%; display: block!important; }
    /*div             {   margin:0px 0px 10px 0px;}*/

    mat-horizontal-stepper  {   
        background: none!important; 
        font-family: 'Titillium Web', sans-serif!important; }  

.mat-horizontal-stepper-header-container        {   display:none!important;}
.mat-step-header    {   display:none!important;}    
}

.content-rgt        {   width:50%; float: left;
    mat-form-field  {   width:100%; display: block!important;}
    /*div             {   margin:0px 0px 10px 0px;}*/

    mat-horizontal-stepper  {   
        background: none!important; 
        font-family: 'Titillium Web', sans-serif!important;}   
    
    .mat-horizontal-stepper-header-container        {   display:none!important;}

    
}  



 