

 <div class="page-layout simple fullwidth" fxLayout="column"> <!-- fusePerfectScrollbar -->
    <div class="content-main padg-top-lft40 mb-24" fxLayout="column" fxLayoutAlign="center center" 
    fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
    <h1>supplier registration</h1>
    <mat-spinner></mat-spinner>
    <div class="content-lft">
            <mat-horizontal-stepper >
                    <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup" class="padg-lft0">
            
            <div fxLayout="row" fxLayoutAlign="flex-end" fxFlex="1 0 auto" class="h45" tab-index=1>
                    <mat-form-field appearance="outline" fxFlex="50">
                    <input matInput type="text" placeholder="name or company*" name="search" maxlength="30" formControlName="txtCompany" autocomplete="off" required >
                    <mat-error > enter name or company </mat-error>
                    </mat-form-field>
            </div>  

            
            <div fxLayout="row" fxLayoutAlign="flex-end" fxFlex="1 0 auto" tab-index=2 class="h95">  
                    <mat-form-field appearance="appearance" >
                     <textarea matInput  type="text" class="md-textarea" rows="3"  placeholder="address" 
                     name="address" class="desc-textarea" formControlName="txtAddress"   
                     ></textarea>
                 </mat-form-field>
             </div>
             

             <div fxLayout="row" fxLayoutAlign="flex-end" fxFlex="1 0 auto" tab-index=3>  
                    <mat-form-field appearance="outline" fxFlex="50">
                     <input matInput type="text" placeholder="pincode" maxlength="15" name="pincode" formControlName="txtPincode" >
                    <mat-error>enter pincode</mat-error>
                 </mat-form-field>
             </div> 

             <div fxLayout="row" fxLayoutAlign="flex-end" fxFlex="1 0 auto" tab-index=4>   
                    <mat-form-field appearance="outline" fxFlex="50">
                     <input matInput type="text" placeholder="city" maxlength="30" name="city" formControlName="txtCity" >
                     <mat-error>enter city</mat-error>
                 </mat-form-field>
             </div> 

            </form>
            </mat-step>
            </mat-horizontal-stepper>
        </div>

<div class="content-rgt">
        <mat-horizontal-stepper >
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup" class="padg-lft0">
       
                  <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" class="h45" tab-index=5>
                        <mat-form-field appearance="outline">
                  <mat-select formControlName="ddlCountry"  #singleSelect placeholder="country*" (selectionChange)="onCountrySelect()" >
                    <ngx-mat-select-search [formControl]="countryFilterCtrl" [placeholderLabel]="'search country...'"  [noEntriesFoundLabel]="'No matching Country found'" ></ngx-mat-select-search>
                    <mat-option *ngFor="let country of filteredCountry | async" [value]="country['CNT_PK']"  >
                          {{country['CNT_NAME']  }}
                        </mat-option>
            </mat-select>
            <mat-error>Select Country Name</mat-error>
              </mat-form-field>  
          </div>
     
    

                       <!-- <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" tab-index=6> 
                            <mat-form-field appearance="outline" fxFlex="50">
                                <input matInput  type="text" placeholder="mobile*" name="mobnumber"  formControlName="txtMobile" autocomplete="off" required>
                                <mat-error>enter mobile no.</mat-error>
                            </mat-form-field>
                            </div> -->


                            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" class="h45" tab-index=6> 
                                <mat-form-field appearance="outline" fxFlex="50" class="phon-input"> 
                                        <div class="static-lbl">
                                            <label> {{CountryCode}}</label>
                                         </div>              
                                         <input matInput  type="text" placeholder="mobile*" name="mobnumber"  formControlName="txtMobile" autocomplete="off" required (keypress)="numericOnly($event)" maxlength="10">
                                        <!-- <mat-error>enter mobile no.</mat-error> -->
                                        <mat-error *ngIf="txtMobile.errors " [ngClass] = "'error'">
                                            <mat-error *ngIf="txtMobile.errors.required">
                                               enter mobile number 
                                            </mat-error>
                                            <mat-error *ngIf="txtMobile.errors.pattern">
                                              enter valid mobile number 
                                            </mat-error>
                                          </mat-error>
                                       </mat-form-field>
                                 
                             </div> 

                            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" tab-index=7> 
                                    <mat-form-field appearance="outline" fxFlex="50">
                                            <input matInput  type="text" placeholder="cr no or qid(qatar)" maxlength="20" name="QID" formControlName="txtQIDText"  >
                                    </mat-form-field>    
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" tab-index=8> 
                                            <mat-form-field appearance="outline" fxFlex="50">
                                             <input matInput type="text" placeholder="email id*" name="email" formControlName="txtEmail" maxlength="30" autocomplete="off" required>
                                             <!-- <mat-error>enter valid email id</mat-error> -->
                                             <mat-error *ngIf=" f.txtEmail.errors && f.txtEmail.touched" class="invalid-feedback">
                                                <mat-error *ngIf="f.txtEmail.errors.required">Email is required</mat-error>
                                               <mat-error *ngIf="f.txtEmail.errors.email&& f.txtEmail.errors"  >Enter valid email address</mat-error>
                                              </mat-error>
                                         </mat-form-field>
                                     </div> 

                                     <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" tab-index=9> 
                                            <mat-form-field appearance="outline" fxFlex="50">
                                                   <input matInput type="password" formControlName="txtPassword" placeholder="create password*" maxlength="20" autocomplete="off" required> 
                                                   <mat-error>
                                                   <span *ngIf="secondFormGroup.value.txtPassword==''" > password is required!</span>
                                                  <span *ngIf="secondFormGroup.value.txtPassword!='' && secondFormGroup.controls.txtPassword['status']=='INVALID'" >password must be at least 6 characters long</span>
                                                </mat-error>
                                            </mat-form-field>
                                            </div>
            

        </form>
        </mat-step>
        </mat-horizontal-stepper>
</div>
<div class="btn-container-center">
        <button *ngIf="!enableClose" mat-raised-button [disabled]="firstFormGroup.invalid ||secondFormGroup.invalid "   (click)="vendorSubmitbutton()"  >register</button>
       
    </div>
</div>
</div>
