
<div class="login-main wow fadeIn" data-wow-delay="2.5s">
        <h1>i have</h1>        
        <form fxLayout="column" fxLayoutAlign="start"  name="form"  class="padg-lft0"
        [formGroup]="loginform"> 

        <div fxLayout="row" fxLayoutAlign="start" class="margn-btm0" >
                <span class="user-btn txt-center">Supplier Login</span>
                <a routerLink="/supplier" class="new-btn txt-center" >New User</a>
          </div>

              <div fxLayout="row" fxLayoutAlign="start" class="margn-btm0" >
                    <mat-form-field appearance="outline" fxFlex="100" style="width:300px!important;">
                         <input type="text" placeholder="Username" name="Username" class="w100per" required>
                         
                     </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="100" class="w100per">
                    <input type="password" placeholder="Password" name="Password" class="w100per" required>
                <mat-error>
                      <span *ngIf="loginform.value.password==''" > Password is required!</span>
                      <span *ngIf="loginform.value.password!='' && loginform.controls.password['status']=='INVALID'" >Invalid Password(minimum length is 6)</span>
       
                 </mat-error>
            </mat-form-field>
        </div>

        <div class="btn-container-center">
                <button type="button" (click)="button()" class="signin-btn" >Sign In</button>
            </div>

      <div class="btn txt-center" fxLayoutAlign="center">
            Forgot Password? <mat-label><a href="#" class="login-link">Click Here</a></mat-label>
      </div>

      <div class="txt-center">Contact email :<a href="mailto:support@need.qa" class="login-link" target="_blank">support@need.qa</a> </div>

    </form>
    </div>
