<mat-tab-group class="price-main">
        <mat-tab label="monthly"> 
            
                <div id="price-tables" class="page-layout simple fullwidth">                 
                    
                       
                        <div class="content" fxLayout="column">
                    
                          
                            <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">
                    
                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">silver</div>
                                     <div class="package-type mat-accent-fg"></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">
                                                <mat-label id="lblSlvMnKeywords">50</mat-label>
                                               </span>
                                           <mat-label id="forlblSlvMnKeywords"> keywords</mat-label> 
                                        </div>
                                        <!-- <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblSlvArbMnKeywords">50</mat-label>
                                            </span>
                                            <mat-label id="forlblSlvArbMnKeywords"> arabic keywords</mat-label> 
                                        </div> -->
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblSlvMnCurrency">qr</mat-label>
                                                
                                            </div>
                                            <div class="value">
                                                    <mat-label id="lblSlvMnPrice">100</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblSlvMnType">per month</mat-label>
                                            </div>
                    
                                    <button mat-raised-button class=" cta-button-monthly">
                                            <mat-label id="dtrSlvMnBuy">buy</mat-label>
                                        
                                    </button>
                    
                                </div> 

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">gold</div>
                                     <div class="package-type mat-accent-fg"></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblGldArabMnKeywords">100</mat-label>
                                                </span>
                                                <mat-label id="forlblGldMnKeywords"> keywords</mat-label>
                                           
                                        </div>
                                        <!-- <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblGlvArbMnKeywords">100</mat-label>
                                               </span>
                                                <mat-label id="forlblGlvArbMnKeywords"> arabic keywords</mat-label>
                                           
                                        </div> -->
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblGldMnCurrency">qr</mat-label>
                                                </div>
                                            <div class="value">
                                                    <mat-label id="lblGldMnPrice">150</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblGldMnType">per month</mat-label>
                                            </div>
                    
                                    <button mat-raised-button class="cta-button-monthly">
                                            <mat-label id="dtrGldMnBuy">buy</mat-label>
                                        </button>
                    
                                </div> 

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">diamond</div>
                                     <div class="package-type mat-accent-fg"></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">
                                                
                                                    <mat-label id="lblDmdMnKeywords">200</mat-label>
                                                </span>
                                                <mat-label id="forlblDmdMnKeywords"> keywords</mat-label>
                                        </div>
                                        <!-- <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblDmdArbMnKeywords">200</mat-label>
                                               </span>
                                                <mat-label id="forlblDmdArbMnKeywords">arabic keywords</mat-label>
                                            
                                        </div> -->
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblDmdMnCurrency">qr</mat-label>  
                                                </div>
                                            <div class="value">
                                                    <mat-label id="lblDmdMnPrice">200</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblDmdMnType">per month</mat-label>
                                           </div>
                    
                                    <button mat-raised-button class="cta-button-monthly">
                                            <mat-label id="dtrDmdMnBuy">buy</mat-label>
                                        </button>
                    
                                </div> 

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">platinum</div>
                                     <div class="package-type mat-accent-fg"></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblPltnumMnKeywords">unlimited</mat-label> 
                                                </span>
                                                <mat-label id="forlblPltnumMnKeywords"> keywords</mat-label> 
                                         
                                        </div>
                                         <div class="term">
                                    
                                        </div> 
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblPltnumMnCurrency">qr</mat-label>  
                                                </div>
                                            <div class="value">
                                                    <mat-label id="lblPltnumMnPrice">250</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblPltnumMnType">per month</mat-label>
                                            </div>
                    
                                    <button mat-raised-button class="cta-button-monthly">
                                            <mat-label id="dtrPltnumMnBuy">buy</mat-label>
                                        </button>
                    
                                </div>
                    
                    
                            </div>
                           
                    
                    
                        </div>
                    
                    </div>
                    
                    
        
        </mat-tab>

<!-- ------------- YEARLY ------------         -->
        <mat-tab class="yearly" label="yearly"> 
        
                <div id="price-tables" class="page-layout simple fullwidth">                 
                    
                       
                        <div class="content" fxLayout="column">
                    
                          
                            <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">
                    
                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">silver</div>
                                    <div class="package-type mat-accent-fg">pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblSlvYrKeywords">50</mat-label>
                                                </span>
                                                <mat-label id="forlblSlvYrKeywords"> keywords</mat-label>
                                            
                                        </div>
                                        <!-- <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblSlvYrArbKeywords">50</mat-label>
                                                </span>
                                                <mat-label id="lblSlvYrArbKeywords">arabic keywords</mat-label>
                                            
                                        </div> -->
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblSlvYrCurrency">qr</mat-label>    
                                                </div>
                                            <div class="value">
                                                    <mat-label id="lblSlvYrPrice">1000</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblSlvYrType">per year</mat-label>
                                          </div>
                    
                                    <button mat-raised-button class="cta-button">
                                            <mat-label id="dtrSlvYrBuy">buy</mat-label>
                                        </button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">gold</div>
                                    <div class="package-type mat-accent-fg">pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblGldYrKeywords">100</mat-label>
                                                </span>
                                                <mat-label id="forlblGldYrKeywords"> keywords</mat-label>
                                            
                                        </div>
                                        <!-- <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblGldYrArbKeywords">100</mat-label>
                                                </span>
                                                <mat-label id="forlblGldYrArbKeywords"> arabic keywords</mat-label>
                                           
                                        </div> -->
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblGldYrCurrency">qr</mat-label>   
                                                </div>
                                            <div class="value">
                                                    <mat-label id="lblSlvYrPrice">1500</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblGldYrType">per year</mat-label>
                                            </div>
                    
                                    <button mat-raised-button class="cta-button">
                                            <mat-label id="dtrGldYrBuy">buy</mat-label>
                                        </button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">diamond</div>
                                    <div class="package-type mat-accent-fg">pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblDmdYrKeywords">200</mat-label>
                                                </span>
                                                <mat-label id="forlblDmdYrKeywords"> keywords</mat-label>
                                            
                                        </div>
                                        <!-- <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblDmdYrArbKeywords">200</mat-label>
                                                </span>
                                                <mat-label id="forlblDmdYrArbKeywords">arabic keywords</mat-label>
                                            
                                        </div> -->
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblDmdYrCurrency">qr</mat-label>   
                                                </div>
                                            <div class="value">
                                                    <mat-label id="lblDmdYrPrice">2000</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblDmdYrType">per year</mat-label>
                                           </div>
                    
                                    <button mat-raised-button class="cta-button">
                                            <mat-label id="dtrDmdYrBuy">buy</mat-label>
                                        </button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">platinum</div>
                                    <div class="package-type mat-accent-fg">pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">
                                                    <mat-label id="lblPltnumYrKeywords">unlimited</mat-label>
                                                </span>
                                                <mat-label id="forlblPltnumYrKeywords"> keywords</mat-label>
                                            
                                        </div>
                                        <div class="term">
                                           <!--  <span class="text-bold">50</span>
                                            Arabic Keywords-->
                                        </div> 
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">
                                                    <mat-label id="lblPltnumYrCurrency">qr</mat-label>   
                                                </div>
                                            <div class="value">
                                                    <mat-label id="lblPltnumYrPrice">2500</mat-label>
                                                </div>
                                        </div>                        
                                        <div class="period">
                                                <mat-label id="lblPltnumYrType">per year</mat-label>
                                            </div>
                    
                                    <button mat-raised-button class="cta-button">
                                            <mat-label id="dtrPltnumYrBuy">buy</mat-label>
                                        </button>
                    
                                </div>                    
                    
                            </div>
                           
                    
                    
                        </div>
                    
                    </div>
        
        
        </mat-tab>
     
      </mat-tab-group>
