<mat-tab-group class="price-main">
        <mat-tab label="Monthly"> 
            
                <div id="price-tables" class="page-layout simple fullwidth">                 
                    
                       
                        <div class="content" fxLayout="column">
                    
                          
                            <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">
                    
                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">silver</div>
                                     <div class="package-type mat-accent-fg"><!--Silver--></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">50</span>
                                            English Keywords
                                        </div>
                                        <div class="term">
                                            <span class="text-bold">50</span>
                                            Arabic Keywords
                                        </div>
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">100</div>
                                        </div>                        
                                        <div class="period">PER MONTH</div>
                    
                                    <button mat-raised-button class=" cta-button-monthly">buy</button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">gold</div>
                                     <div class="package-type mat-accent-fg"><!--Gold--></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">100</span>
                                            English Keywords
                                        </div>
                                        <div class="term">
                                            <span class="text-bold">100</span>
                                            Arabic Keywords
                                        </div>
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">150</div>
                                        </div>                        
                                        <div class="period">PER MONTH</div>
                    
                                    <button mat-raised-button class="cta-button-monthly">buy</button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">diamond</div>
                                     <div class="package-type mat-accent-fg"><!--Diamond--></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">200</span>
                                            English Keywords
                                        </div>
                                        <div class="term">
                                            <span class="text-bold">200</span>
                                            Arabic Keywords
                                        </div>
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">200</div>
                                        </div>                        
                                        <div class="period">PER MONTH</div>
                    
                                    <button mat-raised-button class="cta-button-monthly">buy</button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge monthly-badge">platinum</div>
                                     <div class="package-type mat-accent-fg"><!--Platinum--></div>                    
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        <div class="term">
                                            <span class="text-bold">Unlimited</span>
                                            English & Arabic Keywords
                                        </div>
                                         <div class="term">
                                          <!--  <span class="text-bold">50</span>
                                             Keywords-->
                                        </div> 
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">250</div>
                                        </div>                        
                                        <div class="period">PER MONTH</div>
                    
                                    <button mat-raised-button class="cta-button-monthly">buy</button>
                    
                                </div>
                    
                    
                            </div>
                           
                    
                    
                        </div>
                    
                    </div>
                    
                    
        
        </mat-tab>

<!-- ------------- YEARLY ------------         -->
        <mat-tab class="yearly" label="Yearly"> 
        
                <div id="price-tables" class="page-layout simple fullwidth">                 
                    
                       
                        <div class="content" fxLayout="column">
                    
                          
                            <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">
                    
                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">silver</div>
                                    <div class="package-type mat-accent-fg">Pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">50</span>
                                            English Keywords
                                        </div>
                                        <div class="term">
                                            <span class="text-bold">50</span>
                                            Arabic Keywords
                                        </div>
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">1000</div>
                                        </div>                        
                                        <div class="period">PER YEAR</div>
                    
                                    <button mat-raised-button class="cta-button">buy</button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">gold</div>
                                    <div class="package-type mat-accent-fg">Pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">100</span>
                                            English Keywords
                                        </div>
                                        <div class="term">
                                            <span class="text-bold">100</span>
                                            Arabic Keywords
                                        </div>
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">1500</div>
                                        </div>                        
                                        <div class="period">PER YEAR</div>
                    
                                    <button mat-raised-button class="cta-button">buy</button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">diamond</div>
                                    <div class="package-type mat-accent-fg">Pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">200</span>
                                            English Keywords
                                        </div>
                                        <div class="term">
                                            <span class="text-bold">200</span>
                                            Arabic Keywords
                                        </div>
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">2000</div>
                                        </div>                        
                                        <div class="period">PER YEAR</div>
                    
                                    <button mat-raised-button class="cta-button">buy</button>
                    
                                </div>

                                <div class="price-table style-2 mat-elevation-z4 price-div" fxLayout="column">
                                        <div class="badge yearly-badge">platinum</div>
                                    <div class="package-type mat-accent-fg">Pay only for 10 months</div>                   
                                   
                    
                                    <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                                        
                                                                                    
                                        <div class="term">
                                            <span class="text-bold">Unlimited</span>
                                            English & Arabic Keywords
                                        </div>
                                        <div class="term">
                                           <!--  <span class="text-bold">50</span>
                                            Arabic Keywords-->
                                        </div> 
                                        
                                    </div>

                                    <div class="price" fxLayout="row" fxLayoutAlign="center start">
                                            <div class="currency">QR</div>
                                            <div class="value">2500</div>
                                        </div>                        
                                        <div class="period">PER YEAR</div>
                    
                                    <button mat-raised-button class="cta-button">buy</button>
                    
                                </div>                    
                    
                            </div>
                           
                    
                    
                        </div>
                    
                    </div>
        
        
        </mat-tab>
     
      </mat-tab-group>
