<mat-toolbar>

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                (click)="toggleSidebarOpen('navbar')" fxHide.gt-sm>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>
        </div>

        <div class="logoutvendor" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <div class="vendorlogin-mob">
                <a routerLink="/vendorprofile" [hidden]="!this.authService.isLoggedIn" mat-menu-item
                class="btn-list w22 btn-margn">
                <mat-icon>person_outline</mat-icon>merchant profile
            </a>
            <div class="toolbar-separator"></div>
            <a routerLink="#" [hidden]="!this.authService.isLoggedIn" (click)="logout()" mat-menu-item
                class="btn-list w22 btn-margn">
                <mat-icon>exit_to_app</mat-icon>logout
            </a>
            <div class="toolbar-separator"></div>
            </div>


            <button mat-button fxHide fxShow.gt-xs class="language-button" [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu>
            <div class="toolbar-separator"></div>

            <div class="logo-div"><img src="assets/logos/iNeed-logo.png"></div>
        </div>

    </div>

</mat-toolbar>