@import "src/@fuse/scss/fuse";

// [hidden]
// {
//     dispaly:none !important;
// }
[hidden] {
    display: none !important;
  }
toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4; height: 55px;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit !important;
        color: inherit !important;
        margin-bottom: 0px; padding:0% 3% 0px 0px;   
        
        @include media-breakpoint ('md'){
            padding:1% 0px 1% 0px; 
        }

        @include media-breakpoint ('sm'){
            padding:1% 0px 1% 0px; 
        }

        @include media-breakpoint ('xs'){
            padding:1% 0px 1% 0px; 
        }
    }


   
        
    

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}
