@import "src/@fuse/scss/fuse";

:host {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    min-width: 0;

    .theme-options-button {
        position: absolute;
        top:39%;
        left: 0;
        width:35px;
        /*height: 48px;*/
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        border: radius 3px;
        margin: 0;
        pointer-events: auto;
        opacity:1;
        z-index: 998; 

        @include media-breakpoint('xs') {
            top:36%;
        }

        &.right-side-panel {

            @include media-breakpoint('gt-md') {
                right: 70px;
            }
        }

        &.side-panel-hidden {
            right: 0 !important;
        }

        mat-icon {
            animation: rotating 3s linear infinite;
        }

        &:hover {
            opacity: 1;
        }
    }

    .sidebar-img {   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35); 
        -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);

        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        -webkit-border-top-right-radius: 10px; -webkit-border-bottom-right-radius: 10px;
    }

    .theme-options-sidebar {
        /*width:22vw;
        min-width:0px;
        max-width:22vw;*/
        height:420px;
        top:21%; background:#fff;

        @include media-breakpoint ('xs') {
            top:16%;
        }

    }
}

