.privacy   { width:95%;   margin:1% 0px 0px 0px; background:none; 
    color: #fff;letter-spacing: 1px; padding-left:5%!important; 

    h2 {
       
        font-size: 16px;
        font-family: 'coheadlinew08-lightregular', sans-serif;
        display: inline;
        font-weight: bold;
    }
    
    h3{
  font-weight: bold;
   font-size: 20px;

    }
    a
    {
        color: #fff;
    }
    }