<!-- <div class="page-layout carded left-sidebar inner-scroll">
    
    <fuse-sidebar class="sidebar min-max25" name="carded-left-sidebar-2" position="left" lockedOpen="gt-md">
    
        <div class="content leftsidebar" fusePerfectScrollbar>
            <div class="demo-sidebar">
                <mat-list class="mat-list mat-list-base">
               
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item1'}">
                        <span (click)="sidebarMenu('item1')"   class="mat-list-item-content ">vendor profile</span>
                    </mat-list-item>
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item2'}">
                        <span (click)="sidebarMenu('item2')"  class="mat-list-item-content">account status</span>
                    </mat-list-item>
                    
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item3'}">
                        <span (click)="sidebarMenu('item3')" class="mat-list-item-content" >load keywords</span>
                    </mat-list-item>
                    
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item4'}">
                        <span (click)="sidebarMenu('item4')" class="mat-list-item-content">sales lead setup</span>
                    </mat-list-item>
                    
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item5'}">
                        <span (click)="sidebarMenu('item5')" class="mat-list-item-content">reports</span>
                    </mat-list-item>
            
                    
            
                   
                </mat-list>
            </div>
            
            
        </div>
     

    </fuse-sidebar>
  
    <div class="center" fxLayout="row">

      
            <div class="toolbar">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md fxShow.gt-sm
                        (click)="toggleSidebar('carded-left-sidebar-2')">
                    <mat-icon>menu</mat-icon>
                </button>

            

            </div>
          
            <div class="vendor-cont-outer" >
                    <mat-horizontal-stepper class="vendor-content"  fusePerfectScrollbar>
                            <mat-step [stepControl]="firstFormGroup">
                              <form [formGroup]="firstFormGroup"  >
                          
              

              



              <div class="demo-content" [hidden]="selectedItem != 'item4'" >

            
              <div tab-index=6 class="sales-div">   
                <mat-label >i want leads with </mat-label> 
               
                <mat-radio-group>
                        <mat-radio-button  value="1" name="ValueType"  [checked]="IsValueType"   (change)="SelectValueTypes($event)"> any value</mat-radio-button>
                        <mat-radio-button  value="2" name="GreaterValueType"  [checked]="IsGreaterValueType"  (change)="SelectValueTypes($event)">more than 3000 only</mat-radio-button>
                        <input matInput  type="text"  class="valuetext"  [hidden]="ValueTxtValue" [value]="vendorMinValue"  formControlName="txtValue"     placeholder="value" autocomplete="off"  >
                       
                        <mat-error *ngIf="formControls.txtValue.errors && formControls.txtValue.touched" class="invalid-feedback">
                            <mat-error *ngIf="formControls.txtValue.errors.required">enter value </mat-error>
                           <mat-error *ngIf="formControls.txtValue.errors.pattern "  >enter valid number </mat-error>
                        </mat-error>
                    </mat-radio-group>
                 
                  
        </div> 


                 

                         
                             
                                
                            
                            
                               
        
                            </div>
                
                    
              

                


</form>
</mat-step>
</mat-horizontal-stepper>
            </div>
          

    

    </div>
 

</div> -->
<h1>Welcome to app!</h1>
<div class="csv-file-chooser-section">

  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)"
         accept=".csv"/>

</div>

<div class="csv-result-table">

  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Title</th>
      <th>Occupation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let csvData of csvRecords;let i = index;">

      <td>{{i+1}}</td>
      <td>
        <span>{{csvData.firstName}}</span>
      </td>
      <td>
        <span>{{csvData.lastName}}</span>
      </td>
      <td>
        <span>{{csvData.email}}</span>
      </td>
      <td>
        <span>{{csvData.phoneNumber}}</span>
      </td>
      <td>
        <span>{{csvData.title}}</span>
      </td>
      <td>
        <span>{{csvData.occupation}}</span>
      </td>

    </tr>
    </tbody>
  </table>

</div>