<div class="page-layout carded left-sidebar inner-scroll">
    <!-- TOP BACKGROUND -->
    <!-- <div class="top-bg accent"></div> -->
    <!-- / TOP BACKGROUND -->
    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar min-max25" name="carded-left-sidebar-2" position="left" lockedOpen="gt-md">
        <!-- SIDEBAR HEADER -->
         <!-- <div class="header p-24 accent">
            <h2 class="m-0">Sidebar header</h2>
        </div> -->
        <!-- / SIDEBAR HEADER -->
        <!-- SIDEBAR CONTENT -->
        <div class="content leftsidebar" fusePerfectScrollbar>
            <div class="demo-sidebar">
                <mat-list class="mat-list mat-list-base">
               
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item1'}">
                        <span (click)="sidebarMenu('item1')"   class="mat-list-item-content ">vendor profile</span>
                    </mat-list-item>
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item2'}">
                        <span (click)="sidebarMenu('item2')"  class="mat-list-item-content">account status</span>
                    </mat-list-item>
                    
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item3'}">
                        <span (click)="sidebarMenu('item3')" class="mat-list-item-content" >load keywords</span>
                    </mat-list-item>
                    
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item4'}">
                        <span (click)="sidebarMenu('item4')" class="mat-list-item-content">sales lead setup</span>
                    </mat-list-item>
                    
                    <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>
            
                    <mat-list-item class="mat-list-item" [ngClass]="{active:  selectedItem == 'item5'}">
                        <span (click)="sidebarMenu('item5')" class="mat-list-item-content">reports</span>
                    </mat-list-item>
            
                    
            
                   
                </mat-list>
            </div>
            
            
        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fxLayout="row">

        <!-- CONTENT HEADER -->
        <!-- <div class="header accent p-24">
            <h2 class="m-0">Left sidebar with inner scroll</h2>
        </div> -->
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <!-- <div class="content-card"> -->

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md fxShow.gt-sm
                        (click)="toggleSidebar('carded-left-sidebar-2')">
                    <mat-icon>menu</mat-icon>
                </button>

            

            </div>
          
            <div class="vendor-cont-outer" >
                    <mat-horizontal-stepper class="vendor-content"  fusePerfectScrollbar>
                            <mat-step [stepControl]="firstFormGroup">
                              <form [formGroup]="firstFormGroup"  >
<!-- Item 1 -->                               
              

              


<!-- Item 4 -->
              <div class="demo-content" [hidden]="selectedItem != 'item4'" >

            
              <div tab-index=6 class="sales-div">   
                <mat-label >i want leads with </mat-label> 
               
                <mat-radio-group>
                        <mat-radio-button  value="1" name="ValueType"  [checked]="IsValueType"   (change)="SelectValueTypes($event)"> any value</mat-radio-button>
                        <mat-radio-button  value="2" name="GreaterValueType"  [checked]="IsGreaterValueType"  (change)="SelectValueTypes($event)">more than 3000 only</mat-radio-button>
                        <input matInput  type="text"  class="valuetext"  [hidden]="ValueTxtValue" [value]="vendorMinValue"  formControlName="txtValue"     placeholder="value" autocomplete="off"  >
                       
                        <mat-error *ngIf="formControls.txtValue.errors && formControls.txtValue.touched" class="invalid-feedback">
                            <mat-error *ngIf="formControls.txtValue.errors.required">enter value </mat-error>
                           <mat-error *ngIf="formControls.txtValue.errors.pattern "  >enter valid number </mat-error>
                        </mat-error>
                    </mat-radio-group>
                 
                  
        </div> 


                 

                         
                             
                                
                            
                            
                               
        
                            </div>
                
                    
              

                


</form>
</mat-step>
</mat-horizontal-stepper>
            </div>
          

    

    </div>
 

</div>
