@mixin fuse-sidebar-theme($theme) {

    $background: map-get($theme, background);

    fuse-sidebar {
        background: map-get($background, background);

        @media screen and (min-width:200px) and (max-width:399px){
            background:#0074bc;
        }

        @media screen and (min-width:400px) and (max-width:600px)    {   
            background:#0074bc;
        }
        
    }

    .fuse-sidebar-overlay {
        background-color: rgba(0, 0, 0, 0.6);

        &.fuse-sidebar-overlay-invisible {
            background-color: transparent;

        }
    }
}