
mat-label
{
    color : #000;
}
.date
{
    margin-top: -15px !important;
}
.report-section
{
    
    .searchAdd      {    /*float: right;*/  display:inline;    }

    h2          {        display:inline;  color:#0074bc;   font-size: 34px;
         font-family: 'coheadlinew08-lightregular', sans-serif;    }

   .heading         {   display:inline;}
    
   .content         {   text-align : center;    }
    // .forbut
    // {
    //     border : 0;
    //     background-color: #0074bc;
    //     width: 35px;
    //     height: 27px;
    // }
    // .forbut .mat-icon {
    //     display: unset;
    //     color: #fff;
    //     font-size: 1.3em;
    //     font-weight: bold !important;
    // }
    .myclass1       {        margin-top: 10px;        padding-bottom: 15px;
    
        mat-label   {   min-width: 25%;   max-width: 25%;
        
            @media screen and (min-width:200px) and (max-width:399px){   
                min-width: 95%;   max-width: 95%;
              }
        }

        .date-sectn {   min-width: 35%!important;   max-width: 35%!important; 

            @media screen and (min-width:200px) and (max-width:399px){   
                min-width: 100%!important;   max-width: 100%!important;
              }
        
              @media screen and (min-width:400px) and (max-width:600px)    {   
                min-width: 100%!important;   max-width: 100%!important;
              }
        }

        .todate-lbl {   min-width: 35%;   max-width: 35%;

            @media screen and (min-width:200px) and (max-width:399px){   
                min-width: 95%;   max-width: 95%;
              }
        
              @media screen and (min-width:400px) and (max-width:600px)    {   
                min-width: 95%;   max-width: 95%;
              }
        }
        
    
    }
   
}
.min-max21
{
    max-width: 65% !important;
}
.repors-generate
{
    width: 21% ;
}
.currentdate{
    color: #000;
    margin-top: -5px;
    position: absolute;
    left: 0;
}


// .text
// {
//     border:1px solid #000;
//     width:50%;
// }
.vendorname     {    width: 21%;}

.report-mob-div    {  

    @media screen and (min-width:200px) and (max-width:399px){   
        flex-direction:column!important; height: 75px!important;
      }

      @media screen and (min-width:400px) and (max-width:600px)    {   
        flex-direction:column!important; height: 75px!important;
      }

      .min-max60 {
        min-width: 60% !important;  max-width: 60% !important;

        @media screen and (min-width:200px) and (max-width:399px){   
          min-width: 100% !important;  max-width: 100% !important;
        }
      
        @media screen and (min-width:400px) and (max-width:600px)    {   
          min-width: 100% !important;  max-width: 100% !important;
        }
      }
 }
 .fromdate-div    {  width:48%; display: inline-flex!important;

  @media screen and (min-width:200px) and (max-width:399px){   
    width:100%; flex-direction:column!important;
  }

  @media screen and (min-width:400px) and (max-width:600px)    {   
    width:100%; flex-direction:column!important;
  }

  .frmlabel   {   min-width:52%!important;   max-width:52%!important;

    @media screen and (min-width:200px) and (max-width:399px){   
      min-width:100%!important;   max-width:100%!important;}

      @media screen and (min-width:400px) and (max-width:600px)    {   
        min-width:100%!important;   max-width:100%!important;}  
    }
  
    
  
}
 .todate-div      {   width:37%; display: inline-flex!important; 

  @media screen and (min-width:200px) and (max-width:399px){   
    width:100%; flex-direction:column!important;
  }

  @media screen and (min-width:400px) and (max-width:600px)    {   
    width:100%; flex-direction:column!important;
  }
}
 .todate-input    {   min-width:50%!important;   max-width:50%!important;

  @media screen and (min-width:200px) and (max-width:399px){   
    min-width: 100%!important;   max-width: 100%!important;
  }

  @media screen and (min-width:400px) and (max-width:600px)    {   
    min-width: 100%!important;   max-width: 100%!important;
  }
}
 .todate          {  position: relative;    bottom: 11px;}

 .mobstyle      { 

  @media screen and (min-width:200px) and (max-width:399px){   
    width:100%; place-content: center;
  }

  @media screen and (min-width:400px) and (max-width:600px)    {   
    width:100%; place-content: center;
  }
 }


