<div class="page-layout simple fullwidth" fxLayout="column">

  <div class="banner-content " fxLayout="column" fxLayoutAlign="flex-start" fxLayout.gt-md="row" fxLayout.gt-sm="row"
     fxLayout.gt-xs="row">
     <div class="terms">
       <h1>terms of use</h1>
<h2>terms & conditions for customers </h2>
<ol>
  <li>that need.qa does not own any products or services that you may receive it from this website </li>
  <li>that, need.qa is not responsible for any pricing, quality of the products or services that may get out of the business leads </li>
  <li>need.qa will not be responsible for any financial transactions that is done with the registered merchants </li>
  <li>that, need.qa does not charge any commissions  or give incentives for any business deals done through this platform</li>
  <li>need.qa reserve the right to process your request for a product or service to its merchants. request for products or services which is not permissible to trade or serve in qatar will not be processed </li>
 
</ol>

<h2>terms & conditions for merchants </h2>
<ol>
 <li>need.qa will not be responsible for any financial transactions that is done with the customers. </li>
 <li>that, need.qa does not charge any commissions  or give incentives for any business deals done through this platform</li>
 <li>need.qa reserve the right to process a request for products or services.</li>
 <li>Need.qa reserves the right to terminate the merchant registration; if in case the merchant use the platform for any illegal act which is not allowed in the state of Qatar. </li>
 <li>need.qa will not be responsible for an disputes or litigation between the merchant and customer. </li>
 <li>All leads which are shared to you will be auto removed after 3 days to respond to customer on time. </li>

</ol>

      </div>
      </div>
      </div>
