<h1 matDialogTitle><img src="assets/logos/iNeed-logo.png" width="80px" height="35px">
    
  <button (click)="NextDialogRef.close()" class="popup-close">X</button>
  
</h1>
<button md-raised-button (click)="onButtonClicked()">Add</button>
<div mat-dialog-content *ngIf="!isError" class="forSuccess">
      <!-- <img src="assets/home/tick.png"><br> -->
    
      <p>enter otp</p>
      <input type="text" name="otp" placeholder="otp">
      <button mat-raised-button (click)="verifyOtp()">verify</button>
      <!-- <span>{{Message}}</span> -->
  </div>
<div mat-dialog-content *ngIf="isError" class="forError">
      <img src="assets/home/tick.png"><br>
      <span>{{Message}}</span>
  </div>