<!-- <div class="page-layout simple fullwidth bgstring" fxLayout="column">
  <div class="banner-content" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-md="row" fxLayout.gt-sm="row"
    fxLayout.gt-xs="row">

    <div class="banner-lft">

      <mat-horizontal-stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">

            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" class="h43 mob-div" tab-index=2>
              <mat-label>search</mat-label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="keyword" formControlName="ddlsearch" aria-label="keyword"
                  [matAutocomplete]="auto" [formControl]="searchFilterCtrl">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="SelectKeyword($event.option.value)">
                  <mat-option *ngFor="let member of venkeywords" [value]="member.VKW_PK">
                    <span>{{member.VKW_KWORD}}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="btn-container txt-h">
              <button mat-raised-button [disabled]="firstFormGroup.invalid " [ngClass]="{
      'prev': isFirst,
      'next': !isFirst
    }" color="accent">
                next
              </button>
            </div>

          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>




  </div> -->