
<div class="page-layout simple fullwidth " fxLayout="column">
  <div class="banner-content" fxLayout="column" fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
    <div class="card-preview ">

      <div class="fuse-card">
        <img src="assets/images/download/down.svg">
        <div class="p-16" [hidden]="downloadLink">
          <div class="h1">Ready when you are</div>
          <div class="h4 secondary-text">Files deleted in {{this.daysLeft}} days</div>
          <div class="p-16 pt-0 line-height-1.75">
            {{this.fileName}}
          </div>
          <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
            <button type="button" mat-raised-button (click)="clickDownloadButton" color="accent">Download</button>
          </div>
        </div>
        <div class="p-16" [hidden]="downloadLinkexpired">
          <div class="h1">Link is expired</div>
        </div>

      </div>
    </div>
  </div>
</div>
