<div fxLayout="row" fxLayoutAlign="center center" class="vendor-payment-outer">
  
 
          <mat-horizontal-stepper class="vendor-content"  fusePerfectScrollbar>
                  <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup"  >

                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        <!-- <div>{{this.onAprooveMsg}}</div> -->

                      </form>
                     
                      </mat-step>
                      </mat-horizontal-stepper>
                      </div>
                     
