.vendor-content {
    width: 50%;  height: 270px; margin:0px auto;

    form    {   width:50%; height:250px; margin:0px auto; text-align: center; transform: translate(0px, 30px);}
 
}
.vendor-payment-outer
{
    width: 100%;
}
p.temsconditions
{
    color: #000;
    margin: 0;
    padding: 15px 0 15px 0;
}

