.mat-dialog-content     {   overflow:unset!important; text-align: center; color: #0074bc;}
.mat-dialog-content img {   margin:5% 0px 9% 0px;}
.mat-dialog-title       {   margin: 0 0 20px; display: block; width:100%;}
.popup-close            {   background: none; border: none; float: right; font-size: 14px;
                            font-family: 'coheadlinew01-boldregular'; color: #0074bc;}