<mat-toolbar class="foot-div">

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.gt-xs="start">

        <!-- <a href="https://1.envato.market/c/1257954/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffuse-angularjs-material-design-admin-template%2F12931855"
           target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">shopping_cart</mat-icon>
            <span>Purchase FUSE (Angular 7+)</span>
        </a> -->
        <span class="highlite">i have</span>

        <div fxLayout="row" fxLayoutAlign="start center" fxShow.gt-xs>
            <a routerLink="/supplier" mat-button>register as vendor</a>
            <span>or</span>
            <a routerLink="/login" mat-button>login</a>
      
        </div>

    </div>

</mat-toolbar>
