<mat-toolbar class="foot-div">

    <div class="foot-links">

        <!-- <a href="https://1.envato.market/c/1257954/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Ffuse-angularjs-material-design-admin-template%2F12931855"
           target="_blank" mat-button class="pink" fxFlex="0 0 auto" fxLayout="row"
           fxLayoutAlign="start center">
            <mat-icon class="s-16 mr-sm-4">shopping_cart</mat-icon>
            <span>Purchase FUSE (Angular 7+)</span>
        </a> -->
        <span class="highlite">i have</span>

        <div fxLayout="row" fxLayoutAlign="start center" fxShow.gt-xs class="links-mob">
            <a routerLink="/supplier" mat-button>register as merchant</a>
            <!-- <span>or</span> -->
            <a routerLink="/login" mat-button>login</a>
            
            <a routerLink="/privacy" mat-button>privacy policy</a>            
        </div>
        
        <div class="watsap-icn"> 
            <a href="https://api.whatsapp.com/send?phone=97466883800" target="_blank"><img src="assets/home/watsapp-icon.png" alt="watsapp"></a>
       </div>       

    </div>
<div class="referal-outer">
    <span>total referrals</span><br>
    <span class="referal-count">{{this.REFERAL_COUNT}}</span>
</div>
   <div class="gti-logo">powered by <a href="http://www.thegti.com/" target="_blank" class="gti"></a></div>
 
</mat-toolbar>
