// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";



.mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: #fff !important;

  }

.home-container .mat-form-field-outline,.home-next-container .mat-form-field-outline
{
    background-color: #fff !important;
}
.home-container .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline-thick {
    opacity: !important;
}
.home-container .mat-form-field-infix,.home-next-container .mat-form-field-infix
{
    width: 100% !important;
    padding: 10px !important;
}
.home-container body.theme-default .mat-input-element,.home-next-container body.theme-default .mat-input-element {
    color: #000 !important;
}

a       {   cursor: pointer; text-decoration: none;}
label   {   min-width:11%;}

input::-webkit-input-placeholder {
    color: red;
    font-size: 13px;
  }
  input::-moz-placeholder {
    color: red;
    font-size: 13px;
  }
  input:-ms-input-placeholder {
    color: red;
    font-size: 13px;
  }
  input::placeholder {
    color: red;
    font-size: 13px;
  }




/* Header */
.head-container {   width:100%; padding:35px 10px 15px; box-sizing: border-box;
                    -webkit-box-sizing: border-box; }

.head-lft       {   width:70%; float:left;}
.head-rgt       {   width:30%; float: left;
                    @include media-breakpoint('md'){
                    width:30%;
                    }
                    @include media-breakpoint('sm'){
                        width:100%;
                    }
                    @include media-breakpoint('xs'){
                        width:100%;
                    }    
}

.logo-div       {   width:130px;}

/* HomeBanner */ 
.bgstring         {   background: url(../src/assets/backgrounds/iNeed-bg-string.png) no-repeat;
                    background-size:auto; background-position: 100%;}

.banner-content   {   width:100%; margin:0px auto; padding:15px 20px 0px 20px;
                        box-sizing: border-box; -webkit-box-sizing: border-box;
                    overflow:hidden;}

.banner-lft        {   width:50%;
                        
       @include media-breakpoint ('xs'){
            width:100%;
       }
       @include media-breakpoint ('sm'){
        width:100%;
        }
    h1   {  width:100%; margin:0px;  color:#fff; font-size:40px;
        font-family: 'coheadlinew08-lightregular', sans-serif;
    padding-left:10%; box-sizing: border-box; -webkit-box-sizing: border-box;} 

    /*div     {   display: flex; align-items: baseline;} */

/*---- Radio Btn-----*/
    .mat-radio-button       {   font-family: 'dinlight', sans-serif;}
    .mat-radio-container    {   box-sizing: border-box; display: inline-block;
        position: relative;  width: 20px; height: 20px; flex-shrink: 0;
        margin-bottom: 0px!important;

        .mat-radio-outer-circle {
            border-color: rgba(255, 255, 255, 1);
            box-sizing: border-box; -webkit-box-sizing: border-box; width: 17px; height: 17px;
            left: 0; position: absolute; top:2px; transition: border-color ease 280ms;
            border-width: 2px; border-style: solid; border-radius: 50%;      }
        
        .mat-radio-inner-circle {   width: 17px; height: 17px; top:2px;  }

        .mat-radio-ripple {   position: absolute;
            left: calc(50% - 12px);  top: calc(50% - 12px); width: 20px;  height: 20px;
            z-index: 1; pointer-events: none;    }
    }    

    .mat-radio-label    {    
        cursor: pointer;  display: inline-flex; align-items: center;
        white-space: nowrap; vertical-align: middle; font-size: 14px; margin-right:7px;}

    .mat-radio-label-content {    display: inline-block;    order: 0;
          line-height: inherit;   padding-left: 5px;   padding-right: 0;
          margin:0px 5px 0px 0px!important;
        }

mat-horizontal-stepper  {   
    background: none!important; 
    font-family: 'dinlight', sans-serif!important;}   

.mat-step-header        {   display:none!important;}

}

.mat-horizontal-stepper-header-container        {   display:none!important;}

.mat-form-field  {   
    min-width:60%; max-width:60%; display:inline-block!important;
    font-family: 'dinlight', sans-serif!important; font-size:14px!important;
}
.mat-form-field-wrapper  {   
    width:87%; display:inline-block!important; padding:0px; height:40px;
 }
.mat-form-field-infix   {   
    width:100%; display: inherit; 
}
.mat-form-field-flex    {   
    max-height:38px;
}
.mat-form-field-appearance-outline .mat-form-field-infix    {
    padding:5px 0px!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline  {
    height:30px; border-radius:0px; -webkit-border-radius:0px; background:#fff;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start    {
    border:none!important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end, 
.mat-form-field-appearance-outline .mat-form-field-outline-start    {
    border:none!important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end, 
.mat-form-field-appearance-outline .mat-form-field-outline-start    {
    border:none;
}
.mat-input-element  {
    padding: 9px 0px!important; box-sizing:border-box; -webkit-box-sizing:border-box;
    width: 100%!important; color:#000!important;
}
input.mat-input-element  {
    background:none!important;
}
input .mat-input-element:-internal-autofill-selected  {
    background:none!important;
}



/*------ SEARCH SELECT ---------*/
.mat-select-search-inner    { 
    .mat-select-search-input    {   margin-top:5px; padding:0px 10px!important;}
 }

.mat-select-search-clear {    position: absolute; right: 4px;  top: -3px!important;}

/* Search & Select */ 
.cdk-overlay-pane   {   /*width:12%; height:200px;*/ display: inline-flex;
        margin-top:0px!important; transform: translateX(-16px) translateY(17px)!important; 
        -webkit-transform: translateX(-16px) translateY(17px)!important;

} 

.enquiry-textarea {  
    .mat-form-field-wrapper{
        .mat-form-field-flex    { padding:0px;
            .mat-form-field-outline .mat-form-field-outline-thick  {
                height:60px; border-radius:0px; -webkit-border-radius:0px; 
                background:#fff;
            }
        }
    }   
    
}

.mat-select-trigger {   height:0px;}
mat-label       {   width:35%; font-size:16px; margin-top:1%;}
mat-icon        {   font-size:19px; color:#717171;}

.mat-select     {   
    font-family: 'dinlight', sans-serif!important; 
    font-size:14px!important; margin-top:-5px;}

.toggle-btn     {   width: 43%;   text-align: right;
    @include media-breakpoint ('xs')    {
        width:70%;
    }
    mat-icon    {   color:#fff; font-size:15px; cursor: pointer;}
    img         {   width:16px; height:16px; cursor: pointer;}
    button      {   cursor: pointer;}
 }

.prev   {   width:17px; height:17px; background:url(assets/home/prev-icn.png) no-repeat;
    display: inline-block; margin-right:5px; cursor: pointer;border:none;}

.next   {   width:17px; height:17px; background:url(assets/home/nxt-icn.png) no-repeat;
        display: inline-block; margin-right:5px; cursor: pointer;border:none;}
       
             

form {  width:100%; display: block!important; padding:0px 0px 0px 10%;
    box-sizing: content-box; -webkit-box-sizing: content-box;
    color:#fff; font-family: 'dinlight', sans-serif; letter-spacing: 0.2px; }

textarea.mat-input-element  { background: white; padding:5px 0px 0px 10px!important;} 

button  {   cursor: pointer;}

input[type="text"]  {   width:50%; height:26px; padding:0px 5px; 
    font-family: 'dinlight', sans-serif; margin-top:-14px; 
    color: #121212 !important;
    /*font-weight:bold !important;*/
}

input[type="password"]  {   width:50%; height:26px;  padding:0px 5px; 
    font-family: 'dinlight', sans-serif;  margin-top:-14px; 
    color: #121212 !important;
    /*font-weight:bold !important;*/ 
}

input[type="number"]  {   width:50%;  padding:0px 5px; 
    font-family: 'dinlight', sans-serif;  margin-top:-14px; 
    color: #121212 !important;
    /*font-weight:bold !important;*/ 
}


input[type="checkbox"]  {   margin:3px 2px 0px 0px;}
input[type="radio"]  {   margin:3px 2px 0px 0px;}
input:-internal-autofill-selected   {   background:none!important;}

select              {   width:50%; height:27px; border:none; padding:0px 5px; 
    font-family: 'dinlight', sans-serif;  color: #3c3c3c !important;
    font-weight:bold !important;} 

textarea            {   width:50%; border:none; padding:0px 5px; 
    font-family: 'dinlight', sans-serif;  color: #121212 !important;
    /*font-weight:bold !important;*/} 

.mat-error  {   color:yellow!important; margin-top:3px; height:12px;}
.attach-lbl {   font-size:12px; font-style: italic;}
.mat-horizontal-content-container   {   padding: 0px!important;}

/* Textarea - underline*/
.mat-form-field-appearance-legacy .mat-form-field-underline {   height:0px!important;}
.mat-form-field-appearance-legacy .mat-form-field-ripple    {   height:0px!important;}


/* Buttons */ 
.search-btn         {  width:25px; height:25px; margin:0px 0px 0px 5px; border:none; 
    background:#fff;padding:4px 0px 0px; box-sizing: border-box;  -webkit-box-sizing: border-box;
    font-family: 'dinlight', sans-serif;}

.btn-container  {   width:54%; float:right;} 
.btn-container-center  {   width:53%; text-align: center; /*overflow:hidden; display: flex;
        align-items: center;    justify-content: center;*/
}

.btn-container-submit  {   width:100%; text-align: center; }

.approv-btn         {  min-width:55px; height:25px; margin:0px 0px 0px 1px; border:none; 
    background:#000;
    padding:5px; box-sizing: border-box; -webkit-box-sizing: border-box; float:right;
    color: #fff; font-family: 'dinlight', sans-serif;}

.activate-btn         {  min-width:55px; height:25px; margin:0px 0px 0px 1px; 
    border:none; background:#000;
    padding:5px; box-sizing: border-box; -webkit-box-sizing: border-box;
    color: #fff; font-family: 'dinlight', sans-serif;}

.mat-raised-button  {
    min-width:55px!important; height:25px!important;  
    border:none; background:#000!important;
    float:right; border-radius:0px!important; -webkit-border-radius:0px!important;
    color: #fff!important; font-family: 'dinlight', sans-serif!important; font-weight:normal; font-size:16px;
    line-height:0px!important; padding:0px!important;
}  
.mat-raised-button[disabled] {
    min-width:55px!important; height:25px!important;  
    border:none; background:#000!important;
    float:right; border-radius:0px!important; -webkit-border-radius:0px!important;
    color: #fff!important; font-family: 'dinlight', sans-serif!important;font-weight:normal; font-size:16px;
    line-height:0px!important; opacity: 0.2; padding:0px!important;
} 

.desc-textarea  {   
    width:100%!important; height:76px!important; margin-top:-14px!important; color: #121212 !important;
    /*font-weight:bold !important; */ 
}

.browse-btn         {  min-width:55px; height:25px; margin:0px 0px 0px 1px; 
    border:none; background:#0da7b7;
    padding:5px; box-sizing: border-box; -webkit-box-sizing: border-box;
    color: #fff; font-family: 'dinlight', sans-serif; font-weight: 100;
    letter-spacing: 0.5px;}

.brows-lbl      {
    margin: 0px 2px 0px 5px!important; height: 25px; font-size: 12px;font-weight: 200;
    padding-top: 3px; box-sizing: border-box; -webkit-box-sizing: border-box;
    letter-spacing: 0.5px;
}    


.banner-rgt         {  width:50%;

    @include media-breakpoint ('xs'){
        display: none!important;
    }

    @include media-breakpoint ('sm'){
        display: none!important;
    }

}                    

.static-lbl     {   display: inline-table;  width: 10%;  float: left;
     margin-top: -5px;  color: #121212 !important;
     /*font-weight:bold !important;*/ }

.phon-input     {  
    .mat-form-field-infix input    {  width: 75%!important;
        margin-left: 3px;}
}

/* Slide */
.howitworks     { background:#fff !important;
background-repeat: no-repeat;}


/* Footer */
.foot-div       { font-family: 'coheadlinew08-lightregular', sans-serif;   
    color: #0074bc!important; font-size:14px;
    padding:11px 0px 0px 6%!important; height:62px!important;
                @include media-breakpoint ('xs'){
                    margin:0px!important;
                } 
            }
.foot-div ul li { list-style: none; display: inline-block}
.foot-div li    { margin:0px 10px 0px 0px;}
.highlite       {  font-family: 'coheadlinew08-lightregular'; font-size: 40px;
                    @include media-breakpoint ('xs'){
                        font-size: 35px;
                    } 
}
.foot-div span  { margin:0px 10px 0px 0px;
                  @include media-breakpoint ('xs'){ 
                      height:39px; margin:0px;
                  }
}
.foot-div a     {  margin:0px 10px 0px 0px; font-family: 'coheadlinew08-lightregular'; 
                    line-height: 70px;
                    @include media-breakpoint ('xs'){
                        line-height:37px; height:40px;
                    }
                }

/* PRICING */                 
.price-main         {   
    width:90%; margin:0px auto;     letter-spacing: 0.4px;

    .mat-tab-header     {   
        margin:0px auto; border-bottom:none!important;
    }
    .mat-tab-label, .mat-tab-link  {  
        font-family: 'coheadlinew08-lightregular', sans-serif;  color:#0074bc!important;
    }

    .mat-tab-label-active   {   border-bottom: none!important;}
    .mat-tab-label-container         {  width:50%; margin:20px auto;
        .mat-tab-list .mat-ink-bar   { width:0px!important;}
    }

.price-div  {   height:47vh; font-family: 'coheadlinew08-lightregular', sans-serif; }

.mat-tab-label  {
    height: 48px;    padding: 0 24px;    cursor: pointer;    box-sizing: border-box;
    min-width: 160px;    text-align: center;    display: inline-flex;
    justify-content: center;    align-items: center;    white-space: nowrap;
    position: relative; opacity: 1;
    border-radius:3px;
    -webkit-border-radius:3px; 
    margin:0px 5px 0px 0px;
    background:#0074bc!important; border:1px solid #0098f7 !important; color:#fff!important; 
}
.mat-tab-label-active     { 
    background: #fff !important; 
    border-radius:3px;
    -webkit-border-radius:3px; 
    color:#0074bc !important
}

.monthly-badge   {  background:#02a5bf;}
.yearly-badge    {  background:#2fa0e6;}

}

/* LOGIN */
.login-main     {      
    mat-form-field  {
    .mat-form-field-wrapper {  
        .mat-form-field-flex    {  width: 300px!important;   }  
    }   

}
}

/* Popup*/
.mat-dialog-content     {   overflow:unset!important; text-align: center; color: #0074bc;}
.mat-dialog-content img {   margin:5% 0px 9% 0px;}
.mat-dialog-title       {   margin: 0 0 20px; display: block; width:100%;}
.popup-close            {   background: none; border: none; float: right; font-size: 14px;
                            font-family: 'coheadlinew01-boldregular'; color: #0074bc;}




//language
.mat-menu-panel
{
    display:none;
}
/* ---------------COMMON------------- */

.needqa     {   font-family: 'coheadlinew01-boldregular'; color: #0074bc;}
.otp-err    {   width: 32% !important; height: 30px;  margin-top: 8px;}
.watsap-icn {   position: absolute; right:0; transition: all .2s ease-in-out;
    
    /*@include media-breakpoint ('xs')    {   bottom: 62px;}*/
}
.watsap-icn:hover   {   transform: scale(0.9);}

/* BgColor */
.bg-white   {   background: #fff!important;}

/* Width */
.w15per     {   width:15%!important;} 
.w22per     {   width:22%!important;} 
.w34per     {   width:34%!important;}
.w38per     {   width:38%!important;}
.w49per     {   width:49%;}
.w50per     {   width:50%;}
.w78per     {   width:78%;}
.w85per     {   width:85%;}
.w87per     {   width:87%;}
.w100per    {   width:100%!important;}

/* Min & Max */ 
.min-max20      {   min-width:20%!important; max-width:20%!important;}
.min-max28-5    {   min-width:28%!important; max-width:28%!important;}

/*PX*/ 
.w290       {   width:290px !important;}

/* Height */
.h29        {   height:29px;}
.h32        {   height:32px;}
.h35        {   height:35px;}
.h43        {   height:43px;}
.h45        {   height:45px;}
.h70        {   height:70px;} 
.h95        {   height:95px;} 

/* Padding */ 
.padg-lft0          {    padding-left:0px!important;    }

.padg-top-lft40     {    padding:40px 0px 0px 40px;    }

/* Margin */ 
.margn-btm0         {   margin-bottom:0px!important;}

.margn-rgt5         {   margin-right:5px;}
.margn-rgt7         {   margin-right:7px;}
.margn-rgt10        {   margin-right:10px;}
.margn-rgt35        {   margin-right:35px;}

/* Display */ 
.disp-inlne-blk     {   display: inline-block!important;}

/* Float */ 
.fl-rgt     {   float: right;}

/* Text */ 
.txt-rgt    {   text-align:right;}
.txt-center {   text-align: center;}
.mat-form-field-outline-gap
{
    color: transparent !important;
}

