 <!-- fusePerfectScrollbar -->
<!-- <div class="page-layout simple fullwidth bgstring" fxLayout="column"> 
   
    <div class="banner-content" fxLayout="column" fxLayoutAlign="center center" 
    fxLayout.gt-md="row" fxLayout.gt-sm="row" fxLayout.gt-xs="row">
    <div [hidden]="!next" class="banner-lft">
      
            
                
      <form fxLayout="column" fxLayoutAlign="center center" fxFlex="0.5 0 auto" name="form" [formGroup]="form" >
            <h1>i need</h1>
            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto">
                    <mat-label> </mat-label>

                    <mat-radio-group>
                        <mat-radio-button  value="1" name="RadProduct" (change)="selectSearch()">a Product</mat-radio-button>
                        <mat-radio-button  value="2" name="RadService" (change)="selectSearch()">a Service</mat-radio-button>
                    </mat-radio-group>
            </div>
            <div >
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Search</mat-label>
                    <input type="text" placeholder="Keyword" name="txtSearch">
                    <button type="submit" class="search-btn"> <mat-icon>search</mat-icon></button>
                    </mat-form-field>
               
            </div>

            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto">
                    <mat-label>From</mat-label>
                    <mat-radio-group>
                    <mat-radio-button  value="1" name="RadQatar" (change)="selectLocation()">Qatar</mat-radio-button>
                    <mat-radio-button  value="2" name="RadOutsideQatar" (change)="selectLocation()">Outside Qatar</mat-radio-button>
                </mat-radio-group>
                   
        </div>
            
            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto">   
                   
                   <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Email</mat-label>
                    <input type="text" placeholder="Email ID" name="email" required>
                </mat-form-field>
            </div> 
            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto"> 
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-label>Phone</mat-label>
                    <input  type="text" placeholder="Number" name="number"  required>
                </mat-form-field>
                </div>   
                    
               <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto"> 
                <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Your Location</mat-label>
                        <mat-select  formControlName="ddlLocation"   #singleSelect   >
                            <ngx-mat-select-search [formControl]="locationFilterCtrl" [placeholderLabel]="'Search Location...'"  [noEntriesFoundLabel]="'No matching Location found'"></ngx-mat-select-search>
                            <mat-option  *ngFor="let location of filteredLocation | async" [value]="location['CON_GROUP ']">
                                    {{location['CON_NAME ']}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                       
                    </div> 

                
                    


                 
                    <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" >
                            <mat-label></mat-label>
                            
                           
                            <re-captcha (resolved)="resolved($event)" siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU" formControlName="captcha" 
                               style="transform:scale(0.95);-webkit-transform:scale(0.95);transform-origin:0 0;-webkit-transform-origin:0 0;">
                            </re-captcha>
                               
                            
                </div>

                    <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto" > 
                             <mat-label></mat-label> -->
                            <!--<input type="text" name="otp" class="w15per" >  -->
<!--                          
                            <div class="btn-container txt-h">
                                <button type="button" [ngClass]="{
                                    'prev': isFirst,
                                    'next': !isFirst
                                  }" 
                                  (click)="button()" class="approv-btn" >Next  </button>
                            </div> -->
                           <!-- *ngIf="!enableclose"  [disabled]="form.invalid" class="approv-btn"  color="accent" >Next -->
                <!-- </div>
               
            </form>
         
         
          
    </div>


    <div [hidden]="next" class="banner-lft" style="display: none!important;">
            <form class="p-24" fxLayout="column" class="next-option"
            fxLayoutAlign="center center" fxFlex="0.5 0 auto" name="form" [formGroup]="form">
          
            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto">
                    <mat-label> </mat-label>
                    <mat-radio-group>
                        <mat-radio-button  value="1" name="RadProduct" (change)="selectSearch('1')">a product</mat-radio-button>
                        <mat-radio-button  value="2" name="RadService" (change)="selectSearch('2')">a service</mat-radio-button>
                    </mat-radio-group>
                   
        </div>

            <div >
                     
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Search</mat-label>
                    <input type="text" placeholder="Keyword" name="txtSearch">
                    <button type="submit" class="search-btn"> <mat-icon>search</mat-icon></button>
                    </mat-form-field>
               
            </div>

            <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto"> 
                    <mat-form-field>
                            <mat-label> </mat-label>                
         <select matNativeControl class="w22per margn-rgt35">
           
             <option value="qty">Qty</option>
           
         </select>

         <select  matNativeControl class="w22per">       
                <option value="unit">Unit</option>
                <option value="unit">Nos</option>
                <option value="unit">Kgs</option>
              
            </select>
       </mat-form-field>
          </div> 

          

          <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto"> 
                <mat-form-field>
                       <mat-label></mat-label>
     <select matNativeControl>
       
         <option value="value">Approx. Value</option>
       
     </select>
   </mat-form-field>
                       </div>  

                       <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto">   
                   
                            <mat-form-field appearance="outline" fxFlex="50">
                             <mat-label></mat-label>
                             <textarea  type="text" rows="3" placeholder="Brief Description" name="desc" class="desc-textarea" required></textarea>
                            
                         </mat-form-field>
                     </div>

                     <div fxLayout="row" fxLayoutAlign="start " fxFlex="1 0 auto">   
                   
                         <mat-form-field appearance="outline" fxFlex="50">
                                <mat-label>Attachments, if any</mat-label>
                               
                                <input type="file" #profilepic  formControlName="photo" (change)="onSelectionchange($event)" (change)="detectFiles($event)" style="display:none">
                                <button type="button"  class="forupload browse-btn" (click)="profilepic.click()"> Browse</button>
                                <div class="brows-lbl" > {{ fileName }} </div>
                          </mat-form-field>
                     </div> 

                     
                     <div class="w85per txt-rgt">
                          <button type="button" (click)="forSubmit(row)" class="activate-btn" >Submit</button>
                     </div>
            </form>

    </div>

    <div class="form-errors-ymodel mr-24 mb-24 banner-rgt" fxLayout="column" 
            fxLayoutAlign="center center" fxFlex="0.5 0 auto" >
                <img src="assets/home/time-quality.png">
    </div>
        
    

     </div>  
     <div class="toggle-btn ">
          
              <button [ngClass]="{
                'prev': isFirst,
                'next': !isFirst
              }"  (click)="buttonNext()"></button> -->

<!-- <button [disabled]="form.invalid"  -->
             <!-- <button  [ngClass]="{
                'next': isFirst,
                'prev': !isFirst
              }" (click)="buttonPrevious()"  ></button>


            </div> 
          
   
        </div> -->

